*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    position: relative;
}

#hour, #min, #sec{
    position: absolute;
    background: black;
    border-radius: 10px;
    opacity: 0.8;
    transform-origin: bottom;
}

#hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.96%;
}

#min{
    width: 1.6%;
    height: 30%;
    top: 20%;
    left: 49.06%;
}

#sec{
    width: 1%;
    height: 39%;
    top: 11%;
    left: 49.35%;
}